# ENTORNO (dev = desarrollo, prod = produccion)
APP_ENV=dev

# BASES DE DATOS
POSTGRES_USER=root
POSTGRES_PASSWORD=postgres1234
POSTGRES_PORT=5432

MONGO_USERNAME=root
MONGO_PASSWORD=mongodb1234
MONGO_PORT=27017

REDIS_PASSWORD=redis1234
REDIS_PORT=6379

# SEGURIDAD
JWT_SECRET=super_secret_jwt_key